@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
    --soft-red: hsl(7, 99%, 70%);
    --soft-red-faded: hsl(7, 99%, 70%, 0.45);
    --yellow: hsl(51, 100%, 49%);
    --yellow-faded:  hsl(51, 100%, 49%, 0.45);
    --dark-desat-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-cyan: hsl(168, 34%, 41%);

    --very-dark-desat-blue: hsl(212, 27%, 19%);
    --very-dark-gray-blue: hsl(213, 9%, 39%);
    --dark-gray-blue: hsl(232, 10%, 55%);
    --gray-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

h1, h2, h3, a {
    font-family: 'Fraunces', serif;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
}