@import url('base.css');

body {
    margin: 0;
}

/* HEADER */

header {
    background: url('./images/desktop/image-header.jpg') no-repeat;
    text-align: center;
    background-position: center;
    background-size: cover;
    height: 90vh;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0 1em 1em 1em;
}

header nav img {
    height: 100% !important;
}
header nav .menu {
    display: none;
}

header nav ul {
    list-style: none;
    display: flex;
    color: var(--white);
    align-items: center;
}

header nav ul li {
    margin: 0.75rem;
}

header nav ul li:last-child {
    color: black;
    background-color: var(--white);
    padding: 1em;
    border-radius: 50px;
}

h1 {
    color: var(--white);
    text-transform: uppercase;
}

@media screen and (max-width: 450px) {
    header nav img {
        margin-top: 2em;
    }
    header nav ul {
        display: none;
    }

    header nav .menu {
        display: block;
    }

    header nav .menu:hover {
        
    }
}


/* MAIN GRID */
.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 650px 650px 650px;
    grid-gap: 0 0;
}

.transform, .standout{
    margin: 6em;
    color: var(--very-dark-desat-blue);
}

.grid h2 {
    font-weight: 700;
}

.grid p {
    color: var(--very-dark-gray-blue);
}

.grid a {
    color: var(--very-dark-desat-blue);
    font-weight: 700;
    text-transform: uppercase;
}

.grid #transform {
    background: url('./images/desktop/image-transform.jpg') no-repeat center center;
    background-size: cover;
}

.grid #standout {
    background: url('./images/desktop/image-stand-out.jpg') no-repeat center center;
    background-size: cover;
}

#graphic, #photography {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0em 1em 4em 1em;
}

#graphic p, #photography p {
    margin: 0 6em;
}

#graphic {
    background: url(./images/desktop/image-graphic-design.jpg) no-repeat center;
    color: var(--dark-desat-cyan);
    background-size: cover;
}

#photography {
    background: url(./images/desktop/image-photography.jpg) no-repeat center;
    color: var(--dark-blue);
    background-size: cover;
}

@media screen and (max-width: 450px) {
    .grid {
        grid-template-columns: 100%;
    }

    .grid #transform {
        grid-row: 1;
    }    

    #graphic, #design {
        min-height: 400px;
    }
}


/* TESTIMONIALS */

#testimonials {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    margin: 6rem 0;
}

#testimonials h2 {
    color: var(--dark-gray-blue);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

.clients {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.client {
    margin: 2em;  
  } 

.client img {
    border-radius: 50%;
    max-width: 75px;
}

.client .text {
    color: var(--very-dark-gray-blue);
}

.client .name {
    font-weight: 700;
    font-family: 'Fraunces', serif;
}

.client .role {
    color: var(--gray-blue);
    font-size: 0.65rem;
}

@media screen and (max-width:450px) {
    #testimonials {
        grid-column: 1;
    }

    .clients {
        display: inline;
    }
}

/* GALLERY */
.gallery {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

@media screen and (max-width: 450px) {
    .gallery {
        display: grid;
        grid-template-columns: 50% 50%;
    }
        
}


.gallery img {
    width: 100%;
}

footer {
    text-align: center;
    background-color: cadetblue;
    color: var(--dark-desat-cyan)
}

footer img {
    color: var(--dark-desat);
    padding: 3rem 0 0 0 ;
}

footer img:hover {
    color: var(--white);
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
}

footer ul li {
    padding: 1rem;
}

footer ul a {
    color: var(--dark-desat-cyan);
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
}

footer ul a:hover {
    color: var(--white)
}